<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>博客管理登录</title>
    <!--设置移动端的预览-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- 导入semantic ui在线资源-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script src="../static/layui/layui.js"></script>
    <style>

    </style>
</head>

<body class="background">


<!--中间内容-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="m-padded-tb-massive m-container-small" style="alignment:center!important;max-width: 30em!important;">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        管理登录
                    </div>
                </h2>
                <form class="ui large form" method="post" action="#" th:action="@{/admin/login}">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="账号">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">   登   录   </button>
                    </div>

                    <div class="ui error message"></div>
                    <div class="ui mini negative message" th:if="${message} ne null" th:text="${message}">用户名或密码错误</div>

                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部footer-->
<footer th:replace="_fragments::footer" class="ui vertical  inverted  segment m-padded-tb-small footer">
    <div class="ui center aligned container">
        <div class="m-text-thin m-text-letter-spacing">Copyright ©2022 - 2022 熊二Blog</div>
        <div>
            <img src="/static/images/img.png"style="vertical-align: sub;width: 18px">
            <span>冀ICP备20221103号-666</span>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function(){
        $('.m-item').toggleClass('m-model-hide');
    });
    $('.ui.dropdown').dropdown();
    $('.ui.form')
        .form({
            fields: {
                username: {
                    identifier : 'username',
                    rules: [
                        {
                            type   : 'empty',
                            prompt:'请输入账号'
                        }
                    ]
                },
                password:{
                    identifier : 'password',
                    rules: [
                        {
                            type   : 'empty',
                            prompt:'请输入密码'
                        }
                    ]
                }

            }
        })
    ;
</script>
</body>

</html>