 <!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>分类管理</title>
    <!--设置移动端的预览-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- 导入semantic ui在线资源-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script src="../static/layui/layui.js"></script>
    <style>

    </style>
</head>

<body class="background">

<!--导航-->
<nav th:replace="admin/_fragments::menu(3)"  class="ui inverted top  m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted  secondary stackable menu ">
            <!--    博客名     -->
            <p class="ui teal header  nav-header-item m-font-family ">管理后台</p>
            <a href="#" class=" m-item item m-nav-text-size m-model-hide m-bottom"><i class="home icon"></i>首页</a>
            <a href="#" class=" m-item item m-nav-text-size m-model-hide m-bottom"><i class="idea icon"></i>分类</a>
            <div class="right m-item  m-model-hide menu ">
                <div class="ui dropdown item margin-header">
                    <div class="text">
                        <img src="../static/images/xionger.png" alt="" class="ui avatar image"> 熊二

                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>

            </div>
        </div>
    <a href="#" class="ui  menu toggle black icon button m-right-top m-model-show ">
        <i class="sidebar icon"></i>
    </a>

    </div>
</nav>

<div  class="ui attached  pointing  menu">
    <div class="ui container">
        <div class="right  menu">
            <a href="#" class="item" th:href="@{/admin/types-input}" >新增</a>
            <a href="#" class=" teal active item" th:href="@{/admin/types}">列表</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-padded-tb-massive">
    <div class="ui container" style="width:970px">
        <div th:if="${message!=null}">
            <div class="ui  message">
                <i class="close icon"></i>
                <div class="head">提示：</div>
                <p th:text="${message}">操作成功!</p>
            </div>
        </div>
            <table class="ui table">
                <thead>
                <tr>
                    <th class="three wide"></th>
                    <th class="three wide">名称</th>
                    <th class="two wide">推荐</th>
                    <th class="four wide">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="type:${page.getRecords()}">
                    <td th:text="${(((page.current)-1)*5)+(typeStat.index+1)}" class="center aligned">1</td>
                    <td th:text="${type.name}">Java</td>
                    <td th:text="${type.recommend}?'是':'否'"></td>
                    <td>
                        <a href="#" th:href="@{/admin/types-update/{id}(id=${type.id})}" methods="get" class="ui teal basic button">编辑</a>
                        <a href="#" th:href="@{/admin/types-delete/{id}(id=${type.id})}" class="ui teal basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">
                        <!--分页-->
                        <div class="ui pagination menu" th:if="${page.pages>0}">
                            <!--当前页为第一页时，不可点击-->
                            <a class="item" th:if="${page.current==1}" onclick="return false;">上一页</a>
                            <a href="#" th:unless="${page.current==1}" th:href="@{/admin/types(current=${page.current}-1)}" class="item">上一页</a>
                            <!--当前页为最后一页时，不可点击-->
                            <a class="item" th:if="${page.current==page.pages}" onclick="return false;">下一页</a>
                            <a href="#" th:unless="${page.current==page.pages}"  th:href="@{/admin/types(current=${page.current}+1)}"  class="item">下一页</a>
                        </div>
                        <a href="" th:href="@{/admin/types-input}" methods="post" class="ui  right floated  basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--底部footer-->
<footer th:replace="admin/_fragments::footer" class="ui vertical  inverted  segment m-padded-tb-small footer">
    <div class="ui center aligned container">
        <div class="m-text-thin m-text-letter-spacing">Copyright ©2022 - 2022 熊二Blog</div>
        <div>
            <img src="/static/images/img.png"style="vertical-align: sub;width: 18px">
            <span>冀ICP备20221103号-666</span>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function(){
        $('.m-item').toggleClass('m-model-hide');
    });
    $('.ui.dropdown').dropdown();
    $('.message .close').on('click',function () {
        $(this)
            .closest('.message')
            .transition('fade');
    });
</script>
</body>

</html>